/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/jun/2019, 16:27:26
    Author     : nuno1
*/

a.brand-logo {
    
    font-family: 'Dancing Script';
    margin-left: 20px;
}

h4 {
    
    font-family: 'Dancing Script';
    font-size: 50px;
}

a.btn-large {
    
    border-radius: 40px;
    width: 200px;
    height: 60px;
}

#mapid { 
    
    margin: 30px auto;
    width: 100%;
    height: 500px;
    
    border-radius: 20px;
}

#main-display {
    
    //background-image: linear-gradient(to left top, #29d998, #28df98, #29e698, #2bec98, #2ef297);
    padding-top: 30px;
}

#filter p{
    
    width: 100%;
    margin-left: 0px;
}

#filter label {
    
    margin-right: 20px;
}

#filter {
    
    margin: 0 auto;
}
/*
.grid h4 {
    
    grid-column: 1 /3;
    grid-row: 1;
    
    margin: 0px;
    
    justify-self: left;
    font-size: 70px;
    
    
    font-family: 'Dancing Script';
}

.inner-grid {
    
    grid-column-gap: 0px;
}

.click {
    
    height: 50px;
    width: 80%;
    
    line-height: 50px;
    
    text-align: center;
    text-decoration: none;
    color: black;
    
    border: none;
    background: none;
    
    font-family: 'Roboto';
    font-size: 20px;
    
    border-radius: 40px;
    
    cursor: pointer;
}

#signin {
    
    background-color: transparent;
    border: 3px solid #66B4E8;
}

#signup {
    
    background-image: linear-gradient(to top, #8d70ff, #66b4e8);
    color: white;
}*/
