/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/jun/2019, 16:27:26
    Author     : nuno1
*/

a.brand-logo {
    
    font-family: 'Dancing Script';
    margin-left: 20px;
}

h4 {
    
    font-family: 'Dancing Script';
    font-size: 50px;
}

a.btn-large {
    
    border-radius: 40px;
    width: 200px;
    height: 60px;
}

#mapid { 
    
    margin: 30px auto;
    width: 100%;
    height: 500px;
    
    border-radius: 20px;
}

#main-display {
    
    //background-image: linear-gradient(to left top, #29d998, #28df98, #29e698, #2bec98, #2ef297);
    padding-top: 30px;
}

#filter p{
    
    width: 100%;
    margin-left: 0px;
}

#filter label {
    
    margin-right: 20px;
}

#filter {
    
    margin: 0 auto;
}

